![pic](https://i.slow.pics/.png)

> 



As always, the entire project is on GitHub. Feel free to use whatever you want from this release.
Please report any issues you find on Discord so they can be fixed for the batch, and leave feedback in the comments, good or bad!

[GitHub](https://github.com/notdedsec/Jujutsu-Kaisen-Season-2) | [Discord](https://discord.gg/HxtC9enDJZ) | [Telegram](https://t.me/animekaizoku)
