![pic]($pic)

$title

More information about the subtitles, contributions, progress updates, and all the scripts utilized in the making of this release can be found on the project's GitHub repository.

Do leave feedback in the comments and report any issues you come across on Discord so they can be fixed for the batch.

[Mediainfo]() | [Comparisons]() | [GitHub](https://github.com/notdedsec/Jujutsu-Kaisen-Season-2) | [Discord](http://discord.animekaizoku.com/) | [Telegram](http://telegram.animekaizoku.com/)
